{% extends 'main/base.html' %} <!-- inherits the base html -->

<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> {% block title %}Home-Crime Area Logger{% endblock %} </title>
</head>
<body>


{% block content %}
<h2>Home Page</h2>

<table>
	<tr>

		<td style="width:400px" id='msg' > <h4> <a href={{Msg}} >Show All Posts</a> </h4> </td>
		<td> 
			{% for key,value in no_of_posts.items %}
				<h5> {{key}} {{value}} </h5>
			{% endfor %}
		</td>
	</tr>

</table>

<table >

	{% if my_dict|length > 0 %}
	<tr><td colspan="3"> 
			<form class="example" action='' id='form'>
			 	<input type="text" placeholder="Search By Area" name="search" id='query'>
			</form>
	</td></tr>
	<tr> <td colspan="3", style="width:1000px"> <hr/> </td> </tr>
	{% else %}
		<tr> <td colspan="3", style="width:1000px"> <hr/> </td> </tr>
		<tr> <td colspan="3">
			<p> Welcome to Crime Area Logger! <br><br> This is a place where we share each others' incidents where we were victimised by someone. For various reasons we may feel reluctant to report about such crimes or reporting just didn't help. This site will help us to identify which areas and locations are more dangerous so we can move cautiously. The details in posts may even help us identify common criminals. We therefore hope to create a safer community through the use of this website.</p>
	</td></tr>
	{% endif %}
	

	{% for sl,post in my_dict.items %}
		{% for key,value in post.items %}
			<tr >
				<td style="width:150px"> {{key}} </td> 
				<td style="width:20px"> : </td> 
				<td> {{value}} </td> 
			</tr>
		{% endfor %}	
		<tr> <td colspan="3", style="width:1000px"> <hr/> </td> </tr>
	{% endfor %}

</table>

<script type="text/javascript">

	const f = document.getElementById('form');
	const q = document.getElementById('query');

	function submitted(event) {
	  event.preventDefault();
	  const url = window.location.href + q.value;
	  const win = window.open(url, '_self');
	  win.focus();
	}
	f.addEventListener('submit', submitted);

</script>



{% endblock %}

</body>
</html>