{% extends 'main/base.html' %} <!-- inherits the base html -->


<<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> {% block title %}View Posts-Crime Area Map{% endblock %} </title>
</head>
<body>

{% block content %}

	
	<h1>{{Area}}:</h1>
	
	<table  style="width:120%">
	{% for sl,post in Posts.items %}
		{% for key,value in post.items %}
			<tr>
				<td> {{key}} </td> 
				<td> : </td> 
				<td> {{value}} </td> 
			

			</tr>
		{% endfor %}	
	<tr> <td> <hr/> </td>  <td> <hr/> </td> <td> <hr/> </td> </tr>
		
	{% endfor %}
	</table>
	
{% endblock %}



</body>
</html>

